.idea/

backend/.gradle/
backend/build/
backend/src/main/resources/static/

frontend/.features-gen
frontend/node/
frontend/node_modules/
frontend/test-results
frontend/tsconfig.app.tsbuildinfo
frontend/tsconfig.node.tsbuildinfo
